/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/public/css
/public/js
/public/img
/public/fonts
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
dump.rdb
